<div class="topbar">
  <nav>
    <a href="/">Home</a>
  </nav>
  <div style="display: flex; align-items: center">
    <img
      src="/img/Guest.png"
      alt="guest"
      style="max-width: 40px; display: inline"
    />
    <h3 style="display: inline">Welcome!</h3>
  </div>
</div>

<div class="header-area">
  <h1><span class="largertext">GD Club</span><br />Welcome to GD Club!</h1>
</div>
