<section class="add-area">
  <h2>Add a Level</h2>
  <form action="/addlevel" method="POST">
    <label for="name"><b>Level Name</b></label>
    <input type="text" name="name" id="name" />

    <label for="difficulty"><b>Level Difficulty</b></label>
    <input type="number" name="difficulty" id="difficulty" min="1" max="10" />

    <label for="completed"><b>Completed Level?</b></label>
    <input type="checkbox" name="completed" id="completed" />

    <input type="submit" value="Add Level" />
  </form>
</section>
